

<div class="card" style="width: 100%;">
 
  <div class="card-body">
    <h5 [class]="displaycolor()"  [obsColordisplay]="'black'"><span >{{qindex+1}}</span>.{{qdata.name}}</h5>
    @if (modedisplay!= 'review') {
    <p class="card-text">
          @for (o of qdata.options; track $index) {
        <obs-option [modedisplay]="modedisplay" [odata]="o"></obs-option>
    }
    <span [hidden]="modedisplay!=='submit'">Votre reponse est : {{qdata.isCorrect()?' Correct':'Incorrect'}}</span>
    </p>
}
   
  </div>
</div>