<div class="accordion" id="optionFormAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOptionForm">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOptionForm" aria-expanded="true" aria-controls="collapseOptionForm">
                Option Formulaire
            </button>
        </h2>
        <div id="collapseOptionForm" class="accordion-collapse collapse show" aria-labelledby="headingOptionForm" data-bs-parent="#optionFormAccordion">
            <div class="accordion-body">
                <form [formGroup]="oform">
                    <div class="mb-3">
                        <label for="name" class="form-label">ID de la reponse</label>
                        <input type="number" class="form-control" id="id" formControlName="id" required>
                    </div>
                    <div class="mb-3">
                        <label for="optionName" class="form-label">Nom de l'option</label>
                        <input type="text" class="form-control" id="optionName" formControlName="name" placeholder="Entrez le nom de l'option">
                        <div *ngIf="oform.get('name')?.invalid && oform.get('name')?.touched" class="text-danger">
                            Le nom est requis.
                        </div>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="isAnswer" formControlName="isAnswer">
                        <label class="form-check-label" for="isAnswer">
                            Est-ce la bonne réponse ?
                        </label>
                    </div>
                    <button type="button" (click)="addoption()" class="btn btn-primary" [disabled]="oform.invalid">Ajouter</button>
                </form>
                {{service.fdata$ | async}}
            </div>
        </div>
    </div>
</div>